body,
html {
    overflow-x: hidden;
    overflow-y: auto;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
}

.description {
    padding: 1em;
    margin-bottom: 20px;
    text-align: center;
    width: 80%;
    max-width: 500px;
}

.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.drawing-area,
.output-area {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#drawCanvas {
    width: 100vw;
    height: auto;
    max-width: 100%;
    box-shadow: 2px 2px 12px #aaa;
}

#predict-button,
#reset-button {
    font-size: 1em;
    padding: 10px 20px;
    margin-top: 5px;
}

@media (max-width: 768px) {
    .description {
        margin-top: 10px;
        width: 95%;
    }

    #drawCanvas {
        height: 50vh;
    }

    #predict-button,
    #reset-button {
        font-size: 1.2em;
        padding: 12px 24px;
    }
}